img{
    width: 400px;
}
body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background:rgb(255, 219, 225);
    color: #d61b3a;
    }
    .center{
        margin-left: auto;
        margin-right:auto;
    }